<footer class="flex footer-section">
    <div class="main-footer-container">
        <div class="flex logo-container" style="align-self: center;">
            <img src="./img/logo-v.png" alt="">
            <h2>INFOTECH</h2>
            <p style="color: #fff; font-weight: 600; font-size: 1rem;">"Defining the Future"</p>
        </div>
        <!-- contact us container -->
        <div class="flex footer-container">
            <div class="title-container">
                <span class="material-symbols-outlined" style="color: #fff;">
                    sports_volleyball
                </span>
                <h3 class="section-title">Contact Us</h3>
                <span class="material-symbols-outlined" style="color: #fff;">
                    sports_volleyball
                </span>
            </div>
            <div class="flex contact-way-container">
                <div class="flex contact-email">
                    <div class="flex title">
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        <span style="color: rgb(153, 153, 153);">Send us Email</span>
                    </div>
                    <h3>info.reynrel@gmail.com</h3>
                </div>
                <div class="flex contact-email">
                    <div class="flex title">
                        <span class="material-symbols-outlined">
                            phone_in_talk
                        </span>
                        <span style="color: rgb(153, 153, 153);">Give us a call</span>
                    </div>
                    <h3>+91 6000192289</h3>
                    <h3>+91 9401069337</h3>
                </div>
            </div>
        </div>
        <!-- Quick links  -->
        <div class="flex footer-container">
            <div class="title-container">
                <span class="material-symbols-outlined" style="color: #fff;">
                    sports_volleyball
                </span>
                <h3 class="section-title">Quick Links</h3>
                <span class="material-symbols-outlined" style="color: #fff;">
                    sports_volleyball
                </span>
            </div>
            <div class="flex link-container">
                <ul>
                    <li><a href="/info">Get Start !</a></li>
                    <li><a href="/about-us">About us</a></li>
                    <!-- <li><a href="#">Team members</a></li> -->
                    <li><a href="/services">Services</a></li>
                    <li><a href="/#products">Our products</a></li>
                </ul>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#blogs">Blogs & Articles</a></li>
                    <li><a href="/contact-us">Contact us</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="flex copyright-container">
        <p>Designed and maintain by Raynrel Infotech | All Rights Reserved</p>
        <div class="social-container">

        </div>
    </div>

</footer>