<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/meta.ejs') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR </title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/commonClass.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <section>
            <div>
                <img src="/img/error.jpg" onclick="(location.href='/')"  alt="error-image">
            </div>
        </section>
        <br><br><br><br><br><br><br><br><br>

        <%- include('./partials/footer.ejs') %>

</body>

</html>