<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/favicon.ico" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Meta CSS-->
    <title>Reynrel Infotech - Guwahati's Premier Web & Software Development Hub!</title>
    <meta name="description"
        content="Looking for expert website development, software development, and tech consultancy services in Guwahati? Our local team specializes in custom software, ecommerce website development, and outsourcing projects. Serving businesses in Guwahati, we offer affordable and innovative solutions, from web and app development to software consulting. Partner with us to bring your ideas to life in Guwahati.">
    <meta name="keywords"
        content="software development company in Guwahati, freelance web developer Guwahati, website developers near me, app development software Guwahati, web development company Guwahati, custom software development Guwahati, ecommerce website developer Guwahati, website design and development services Guwahati, software development outsourcing Guwahati, wordpress website developer Guwahati, software consulting Guwahati, web development near me, professional web developer Guwahati, custom web design Guwahati, real estate website developer Guwahati, business development software Guwahati, and more">
    <meta property="og:title" content="reynrel - Guwahati's Website and Software Development Experts">
    <meta property="og:description"
        content="Get innovative solutions for website development, custom software, and more in Guwahati. reynrel is your local partner for all web and software projects.">
    <meta property="og:image" content="img/logo.png">
    <meta property="og:url" content="https://reynrel.in">
    <meta property="og:type" content="website">

    <!-- Meta CSS-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/commonClass.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <script src="./js/script.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNMGJY4KDT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DNMGJY4KDT');
    </script>


</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <section class="hero-container">
                <div class="flex hero-text-container">
                    <div class="hero-text-box">
                        <h3>Welcome</h3>
                        <h1>REYNREL</h1>
                        <h1 class="infotech">INFOTECH</h1>
                        <h3>"Defining the Future"</h3>
                        <h4>We help ambitious businesses like yours generate more profits by building awareness, driving
                            web
                            traffic, connecting with customers growing.</h4>

                        <div class="hero-btn-container">
                            <a href="/info"> <button class="btn-hero">Get Started <span
                                        class="material-symbols-outlined">arrow_forward</span></button></a>
                        </div>
                    </div>
                </div>
                <div class="hero-image-container">
                    <div class="first-img">
                        <img src="./img/undraw_real_time_sync_re_nky7.svg" alt="">
                    </div>
                    <div class="second-img respHidden">
                        <img src="./img/blob.svg" alt="">
                    </div>
                </div>
            </section>

            <!-- blockquote -->
            <blockquote style="display: none;">
                <p><strong>If this is coffee,</strong> please bring me some tea; <strong>but if this is tea,</strong>
                    please bring me some coffee.</p>
            </blockquote>

            <!-- service section -->

            <section class="service-section">
                <div class="title-container">
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Service we offer</h3>
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                </div>
                <div class="service-container">
                    <div class="service-item" onclick="(location.href='/services')">
                        <div>
                            <img src="./img/app.png" alt="">
                            <h3>Custom App & Software development</h3>
                            <p> Transform your ideas into cutting-edge applications with our tailored software
                                solutions. We
                                craft innovative, scalable, and secure apps that drive your business forward.</p>
                        </div>
                    </div>
                    <div class="service-item service-active" onclick="(location.href='/services')">
                        <div>
                            <img src="./img/web.png" alt="">
                            <h3>Website Development</h3>
                            <p>Elevate your online presence with our bespoke website designs. We build engaging,
                                user-friendly sites that capture your brand’s essence and convert visitors into loyal
                                customers.</p>
                        </div>
                    </div>
                    <div class="service-item" onclick="(location.href='/services')">
                        <div>
                            <img src="./img/tech.png" alt="">
                            <h3>Tech Consultation</h3>
                            <p>Navigate the tech landscape with confidence. Our expert consultants provide strategic
                                insights and solutions, helping you optimize technology to achieve your business goals.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- our team -->

            <section class="team-section respflex-col">
                <div class="team-img-container">
                    <div class="team-svg">
                        <img src="./img/our-team.svg" alt="">
                    </div>
                    <div class="team-blob">
                        <img src="./img/team-blob.svg" alt="blob">
                    </div>
                </div>
                <div class="flex team-text-container">
                    <div class="team-heading">
                        <div class="title-container">
                            <span class="material-symbols-outlined">
                                sports_volleyball
                            </span>
                            <h3 class="section-title">Why Us ?</h3>
                            <span class="material-symbols-outlined">
                                sports_volleyball
                            </span>
                        </div>
                        <h2>A good team is neccsary to get your desired result
                            We provide you more than your expectation
                        </h2>
                    </div>
                    <div class="flex team-description respflex-col">
                        <div class="team-feature-healine-container">
                            <h3>Core feature of team</h3>
                            <span class="material-symbols-outlined">
                                horizontal_rule
                            </span>
                        </div>
                        <div class="team-core-feature-container respflex-col">
                            <div class="flex team-fetature-item">
                                <span class="material-symbols-outlined">
                                    engineering
                                </span>
                                <span class="bold" style="font-weight: 800">Well experienced</span>
                            </div>
                            <div class="flex team-fetature-item">
                                <span class="material-symbols-outlined">
                                    timer
                                </span>
                                <span class="bold" style="font-weight: 800">delivery on time</span>
                            </div>
                            <div class="flex team-fetature-item">
                                <span class="material-symbols-outlined">
                                    ring_volume
                                </span>
                                <span class="bold" style="font-weight: 800">Long Time Support</span>
                            </div>
                            <div class="flex team-fetature-item">
                                <span class="material-symbols-outlined">
                                    diversity_1
                                </span>
                                <span class="bold" style="font-weight: 800">Good Team Work</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- language and tools used -->

            <section class="flex lan-tool-section" style="display: none;">
                <div class="title-container">
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Technologies We Use</h3>
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                </div>
                <div class="flex lan-tool-container respflex-col">
                    <div class="flex lang-item">
                        <div>
                            <img src="./img/programing.png" alt="nodejs">
                        </div>
                        <div>
                            <span>NODE JS</span>
                        </div>
                    </div>
                    <div class="flex lang-item lang-item-animate">
                        <div>
                            <img src="./img/programing.png" alt="nodejs">
                        </div>
                        <div>
                            <span>NODE JS</span>
                        </div>
                    </div>
                    <div class="flex lang-item">
                        <div>
                            <img src="./img/programing.png" alt="nodejs">
                        </div>
                        <div>
                            <span>NODE JS</span>
                        </div>
                    </div>
                    <div class="flex lang-item lang-item-animate">
                        <div>
                            <img src="./img/programing.png" alt="nodejs">
                        </div>
                        <div>
                            <span>NODE JS</span>
                        </div>
                    </div>
                    <div class="flex lang-item">
                        <div>
                            <img src="./img/programing.png" alt="nodejs">
                        </div>
                        <div>
                            <span>NODE JS</span>
                        </div>
                    </div>
                </div>
            </section>

            <!-- why to choose us -->

            <section class="choose-container respflex-col reverse">
                <div class="flex choose-us-text-container">

                    <div class="title-container">
                        <span class="material-symbols-outlined">
                            sports_volleyball
                        </span>
                        <h3 class="section-title">Why To Choose Us</h3>
                        <span class="material-symbols-outlined">
                            sports_volleyball
                        </span>
                    </div>

                    <!-- choosing points  -->

                    <div class="flex choose-point-container">
                        <div class="choose-point-item">
                            <div class="circle">
                                <img loading="lazy" src="./img/idea.png" alt="learning">
                            </div>
                            <div class="flex choose-point-text">
                                <span><strong>Cutting-Edge Technology:</strong> We use the latest technologies and
                                    industry
                                    best practices to provide you with advanced, effective solutions.</span>
                            </div>
                        </div>

                        <div class="choose-point-item align-left-corner">
                            <div class="circle">
                                <img loading="lazy" src="./img/idea.png" alt="learning">
                            </div>
                            <div class="flex choose-point-text">
                                <span><strong>Expert Team:</strong> Our skilled team of developers and consultants
                                    delivers
                                    high-quality, innovative solutions for every project.</span>
                            </div>
                        </div>

                        <div class="choose-point-item">
                            <div class="circle">
                                <img loading="lazy" src="./img/idea.png" alt="learning">
                            </div>
                            <div class="flex choose-point-text">
                                <span><strong>Customer-Centric Approach:</strong> We prioritize your feedback and work
                                    closely with you to ensure the final product exceeds your expectations.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex choose-us-img-container">
                    <div>
                        <h2>Choosing us will bond our business relationship forever and you will never regret</h2>
                    </div>
                    <img loading="lazy" src="./img/choose-us.svg" alt="choos-us">
                </div>
            </section>

            <!-- clients list -->
            <section class="client-section">
                <div class="flex top-client-container">
                    <div class="title-container">
                        <span class="material-symbols-outlined" style="color: white">
                            sports_volleyball
                        </span>
                        <h3 class="section-title">Our Top Clients</h3>
                        <span class="material-symbols-outlined" style="color: white">
                            sports_volleyball
                        </span>
                    </div>
                    <div class="client-scroll-container">

                        <div class="client-scroll-item-container">
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/ebah.png" alt="client-image">
                                <div class="client-name">
                                    <span>EBAH pvt. ltd.</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/kkv.png" alt="client-image">
                                <div class="client-name">
                                    <span>Kalong kapili vidyapith</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/jagya.png" alt="client-image">
                                <div class="client-name">
                                    <span>Jagya construction</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/interior.jpg" alt="client-image">
                                <div class="client-name">
                                    <span>Styles Interior</span>
                                </div>
                            </div>
                        </div>

                        <!-- repeat scroll container -->
                        <div class="client-scroll-item-container" style="margin-left: 5rem;">
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/North East 365 Assam.png" alt="client-image">
                                <div class="client-name">
                                    <span>North East 365</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/breathe.png" alt="client-image">
                                <div class="client-name">
                                    <span>Breathe Wellness Center</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/cipmedic.png" alt="client-image">
                                <div class="client-name">
                                    <span>Cipmedic.com</span>
                                </div>
                            </div>
                            <div class="flex client-scroll-item">
                                <img src="./img/clients/ebah.png" alt="client-image">
                                <div class="client-name">
                                    <span>EBAH-construction</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- client testimonials -->
            <section class="flex client-testimonial-section">
                <div class="flex testimonial-section-title">
                    <div class="title-container">
                        <span class="material-symbols-outlined">
                            sports_volleyball
                        </span>
                        <h3 class="section-title">Testimonials</h3>
                        <span class="material-symbols-outlined">
                            sports_volleyball
                        </span>
                    </div>
                    <div>
                        <h2>Feedbacks, Why Customers Love Working With Us</h2>
                    </div>
                </div>
                <div class="flex testimonial-container">
                    <div class="flex flex-col testimonial-item respHidden">
                        <img loading="lazy" src="./img/feedback/ebah.jpg" alt="client-image">
                        <p> <br> Good experience overall. The team delivered on time, but communication could have been
                            clearer during development.The final product was solid and met our needs.</p>
                        <h2>Jishu J. Saikia</h2>
                        <div class="position">
                            <h3>Managing Director, reynrel Construction</h3>
                            <span class="material-symbols-outlined">
                                format_quote
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-col testimonial-item">
                        <img loading="lazy" src="./img/feedback/rector.jpg" alt="client-image">
                        <p>The agency provided valuable insights and a functional solution.Responsive and professional
                            team.
                            They delivered what we asked for,the project took a bit longer than expected, but the end
                            result
                            was worth the wait.</p>
                        <h2>Sri Bidhan Boruah</h2>
                        <div class="position">
                            <h3>Rector, Kalong kapili Vidyapith</h3>
                            <span class="material-symbols-outlined">
                                format_quote
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-col testimonial-item respHidden">
                        <img loading="lazy" src="./img/feedback//nea.jpeg" alt="client-image">
                        <p><br><br> Overall, a positive experience. There were a few challenges along the way, but the
                            team
                            was supportive and resolved issues effectively.</p>
                        <h2>Sri Pankaj Pator</h2>
                        <div class="position">
                            <h3>Founder, Noth East 365 Assam</h3>
                            <span class="material-symbols-outlined">
                                format_quote
                            </span>
                        </div>
                    </div>

                </div>
            </section>

            <!-- Our products section -->
            <section class="our-product-section" id="products">
                <div class="title-container mt">
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Our Products</h3>
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                </div>

                <div>
                    <div class="flex make-query respflex-col">
                        <h1>To query for any of the our product</h1>
                        <a href="https://wa.me/+917779885160" target="_blank"></a><button class="btn-hero">
                            <span>Make Query</span>
                            <span class="material-symbols-outlined">
                                sms
                            </span>
                        </button></a>
                    </div>
                </div>

                <div class="product-container respflex-col">
                    <div class="flex product-item">
                        <img loading="lazy" src="./img/products/clinic.avif" alt="Our-products">
                        <h2>Clinic Management Software</h2>
                        <p>Streamline your healthcare facility's operations with our Clinic Management Software. </p>
                    </div>
                    <div class="flex product-item">
                        <img loading="lazy" src="./img/products/architect.jpg" alt="Our-products">
                        <h2>Interior & Construction Firm Management Software</h2>
                        <p>Our Interior Design Management Software offers a complete solution for managing projects,
                            clients, finances, and design resources.</p>
                    </div>
                    <div class="flex product-item">
                        <img loading="lazy" src="./img/products/invoice.avif" alt="Our-products">
                        <h2>Billing and Accounting, invoice Software</h2>
                        <p>Simplify your invoicing and financial management with our intuitive Billing Software, Ideal
                            for businesses of all sizes</p>
                    </div>
                    <div class="flex product-item">
                        <img loading="lazy" src="./img/products/small-business2.jpg" alt="Our-products">
                        <h2> Small Business Management Software</h2>
                        <p>Take control of your small business operations with our all-in-one Small Business Management
                            Software. </p>
                    </div>
                    <div class="flex product-item">
                        <img loading="lazy" src="./img/products/crm.jpg" alt="Our-products">
                        <h2>Customer Relationship Management(CRM)</h2>
                        <p>Helps businesses manage interactions with current and potential customers, streamline sales
                            processes, and improve customer service.</p>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="title-container mt">
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                    <h3 class="section-title">Blogs & Articles</h3>
                    <span class="material-symbols-outlined">
                        sports_volleyball
                    </span>
                </div>

                <div>
                    <div class="flex make-query respflex-col">
                        <h1>Read Our Tech and Trends Articles</h1>
                    </div>
                </div>
                <div class="bgcontainer" id="blogs">
                    <div class="card">
                        <div class="card__header">
                            <img loading="lazy" src="/img/blogs/tech.png" alt="card__image" class="card__image"
                                width="600">
                        </div>
                        <a href="/blog/How-much-dose-a-Website-development-Cost-in-India">
                            <div class="card__body">
                                <span class="tag tag-blue">Technology</span>
                                <h4>How much dose a Website development Cost in India</h4>
                                <p>This guide explores average pricing ranges for different types of websites, from
                                    simple informational sites to complex e-commerce platforms, helping you budget
                                    effectively for your web project.</p>
                            </div>
                        </a>

                        <div class="card__footer">
                            <div class="user">
                                <img loading="lazy" src="/img/user.png" alt="user__image" class="user__image">
                                <div class="user__info">
                                    <h5>Aditya Saikia </h5>
                                    <small>12/08/2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__header">
                            <img loading="lazy" src="/img/blogs/seo-vector.jpg" alt="card__image" class="card__image"
                                width="600">
                        </div>
                        <a href="/blog/Local-SEO-Google-My-Business-A-Step-by-Step-Optimization-Guide">
                            <div class="card__body">
                                <span class="tag tag-brown">SEO</span>
                                <h4>Local SEO Google My Business: A Step-by-Step Optimization Guide</h4>
                                <p>Easy-to-follow steps ensure your business stands out in local searches. Perfect for
                                    entrepreneurs, small business owners, and marketing professionals looking to boost
                                    their local SEO efforts.</p>
                            </div>
                        </a>
                        <div class="card__footer">
                            <div class="user">
                                <img loading="lazy" src="/img/user.png" alt="user__image" class="user__image">
                                <div class="user__info">
                                    <h5>Suresh Bora</h5>
                                    <small>12/08/2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__header">
                            <img loading="lazy" src="/img/blogs/UIUX-Design-featured-scaled.jpg" alt="card__image"
                                class="card__image" width="600">
                        </div>
                        <a href="/blog/UI-Design-Psychology">
                            <div class="card__body">
                                <span class="tag tag-red">UI/UX</span>
                                <h4>UI Design Psychology: How Color, Typography and Layout Influence User Behavior</h4>
                                <p>Dive deep into the world of UI design with "UI Design Psychology," a compelling show
                                    that explores the fascinating intersection of aesthetics and human behavior.</p>
                            </div>
                        </a>
                        <div class="card__footer">
                            <div class="user">
                                <img loading="lazy" src="/img/user.png" alt="user__image" class="user__image">
                                <div class="user__info">
                                    <h5>Panchanan Deka</h5>
                                    <small>12/08/2024</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br>
            </section>




            <!-- footer section -->

            <%- include('./partials/footer.ejs') %>
        </main>

</body>

</html>